<head>
    <link rel="stylesheet" href="..\static\login\style.css" />
</head>
<nav>
    <a href="http://services.bc.edu" id="services">
        <image src="..\static\images\logo-1.png" alt="Boston College logo" width="150px"/>
    </a>
    <a href="./create" id="create">
        <image src="..\static\images\user.png" alt="new user icon" width="30px"/>
        <p>Create Account</p>
    </a>
</nav>

<form id="login">
    <input type="text"/>
    <input type="password"/>
    <button>Login</button>
</form>